* {
  font-family: "Be Vietnam", sans-serif;
  color: rgba(49, 137, 27, 0.83);
}
body {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

/* MAIN PAGES */

.logo {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 43px 10px;

  background-color: rgb(211, 211, 211, 0.25);
  background-blend-mode: exclusion;
  box-sizing: border-box;
}
.logo img {
  max-width: 140px;
  max-height: 140px;
  position: absolute;
  left: 80%;
  top: 6%;
}

.header h1 {
  position: absolute;
  top: 9%;
  left: 45px;
  margin: 0px;
  font-size: 4.6vw;
}

nav {
  position: absolute;
  top: 15%;
  margin-bottom: 5%;
  padding-top: 3%;
}
nav p {
  display: inline-flex;
  margin: 10px 30px;
  font-size: 2vh;
}
/* p:hover {
  display: inline;
  color: orange;
} */
a:hover {
  display: inline;
  color: orange;
}

a:active {
  color: rgb(233, 136, 10);
  text-decoration: none;
}

a:visited {
  color: lightgreen;
}

span {
  font: bold;
}

.main-container {
  width: 90%;
  margin: 20% auto;

  background-color: darkgrey;
  display: flex;
}

.box1 {
  width: 40%;
  height: 90%;
  margin: 0px 10px 10px 5px;
  box-sizing: border-box;
  border-bottom-left-radius: 20%;
}
.box1 img {
  height: auto;
  display: flex;
}

.box2 {
  display: flex;
  flex-direction: column;
}
.box2-top {
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgb(55, 191, 22);
  margin: 20px;
  padding: 0px;
  text-align: center;
}
.box2 h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.box3 {
  margin-top: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.box3 p {
  margin: auto;
}
.box3 h3 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
  padding: 0px;
}

.about {
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.about h3 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
  padding: 0px;
}
.about h2 {
  margin: 90px;
}

.email {
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer {
  width: 100%;
  height: 100px;
}

/* RULES  */

.rules {
  justify-content: center;
}
.rules * {
  justify-content: center;
  text-align: center;
}
.letters {
  list-style: lower-alpha;
}

/*GAMES*/
.games-information {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tabelle1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.tabelle2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.tabelle3 {
  display: flex;
  justify-items: center;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}
table {
  border-collapse: separate;
  border: 1px solid black;
}
table th,
td {
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.top1 {
  text-decoration: underline;
  font: bold;
}

.email-games {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.email-games a {
  color: blue;
}

/*FORM*/

.container_form {
  padding: 30px;
  background-color: lightgreen;
}

.container_form h1 {
  text-align: center;
}

.text {
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  margin: 10px 0px;
}
.text * {
  text-align: center;
  margin: 5px 0px;
  padding: 5px;
}
.text2 label {
  justify-content: flex-start;
  padding-right: 10px;
}

.form1 * {
  margin: 0px 5px;
  text-align: center;
}

.form2 {
  display: flex;
}
.form2 input {
  padding: 0px 20px;
}
.submit {
  display: flex;
  justify-content: center;
  background-color: darkgreen;
}
.submit * {
  text-align: center;
  color: black;
  font: bold;
}
